h1,
h4 {
  margin: 30px 0;
  color: #9a208c;
}

h1 {
  font-weight: bolder;
}

li {
  list-style-type: none;
  padding: 10px;
  background-color: rgb(243, 159, 243);
  border-radius: 5px;
  margin: 10px;
}
a {
  color: #9a208c;
  font-weight: bolder;
}
img {
  margin: 30px;
}

.container {
  background-color: #ffeaea;
  border-radius: 10px;
  color: #9a208c;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

ul {
  list-style-type: disc;
}

.form-control {
  display: flex;
  margin: auto !important;
  width: 300px;
  border-radius: 18px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.btn-primary {
  width: 150px;
  margin: 40px auto;
}
